In [1]:
import pandas as pd
import json
import requests
import os

# Make sure to re-name BOTH of these so the correct file is read in, 
# and so the cleaned file doesn't over-write previous work
file_name = "20000101_20230202.csv"
new_file_name = "0002_cleaned_US_Drought_Monitor.csv"

csv_df = pd.read_csv(f"Resources/raw_csv/{file_name}")

# Display sample data
csv_df.head()

,StateAbbreviation,AreaCurrentPercent,AreaCurrent,PopulationCurrent,PopulationCurrentPercent,PercentChangeFromWAve,AreaChangeFromWAve,StatisticFormatID,USDMLevelID,USDMLevel,Name,AreaMiles,MapDate
0,CA,48.17,"76,187.59","28,130,516.06",75.51,0.0,0.0,2,1,D0,California,"158,147.87",2000-01-04
1,CA,81.75,"129,289.05","31,598,388.02",84.82,0.0,0.0,2,1,D0,California,"158,147.87",2000-01-11
2,CA,72.04,"113,921.84","28,689,915.36",77.01,0.0,0.0,2,1,D0,California,"158,147.87",2000-01-18
3,CA,55.97,"88,511.14","24,683,436.34",66.26,0.0,0.0,2,1,D0,California,"158,147.87",2000-01-25
4,CA,50.88,"80,468.74","24,031,764.14",64.51,0.0,0.0,2,1,D0,California,"158,147.87",2000-02-01

In [2]:
d = {'Map Date': csv_df['MapDate'],
     'Drought Level': csv_df['USDMLevel'],
     'Population Current': csv_df['PopulationCurrent'],
     'Population Current %': csv_df['PopulationCurrentPercent'],
     'Area Current': csv_df['AreaCurrent'],
     'Area Current %': csv_df['AreaCurrentPercent'],
     'Area Miles': csv_df['AreaMiles'],
     }
cleaned_df = pd.DataFrame(data = d, index = None)
cleaned_df

,Map Date,Drought Level,Population Current,Population Current %,Area Current,Area Current %,Area Miles
0,2000-01-04,D0,"28,130,516.06",75.51,"76,187.59",48.17,"158,147.87"
1,2000-01-11,D0,"31,598,388.02",84.82,"129,289.05",81.75,"158,147.87"
2,2000-01-18,D0,"28,689,915.36",77.01,"113,921.84",72.04,"158,147.87"
3,2000-01-25,D0,"24,683,436.34",66.26,"88,511.14",55.97,"158,147.87"
4,2000-02-01,D0,"24,031,764.14",64.51,"80,468.74",50.88,"158,147.87"
...,...,...,...,...,...,...,...
3844,2023-01-24,D1,"28,521,258.43",76.56,"90,130.59",56.99,"158,147.87"
3845,2023-01-24,D2,"5,615,370.55",15.07,"51,509.75",32.57,"158,147.87"
3846,2023-01-31,D0,"3,090,885.86",8.30,"15,494.80",9.80,"158,147.87"
3847,2023-01-31,D1,"28,521,258.43",76.56,"90,130.59",56.99,"158,147.87"
3848,2023-01-31,D2,"5,615,370.55",15.07,"51,509.75",32.57,"158,147.87"

In [3]:
cleaned_df.to_csv(f"Resources/cleaned_csv/{new_file_name}")